/* Set padding for buttons and inputs */
button,
input {
  padding: 0.5rem;
}

/* Set width and display properties for chat display and form */
.chat-display,
form {
  width: 100%;
  display: flex;
  max-width: 600px;
}

/* Set border for chat display and inputs */
.chat-display,
input {
  border: 1px solid #ccc;
}

/* Set display properties for post header, form, and main */
.post__header,
form,
main {
  display: flex;
}

/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body styles */
body {
  background-color: #eee;
  color: #222831;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Set main styles */
main {
  height: 100vh;
  padding: 1rem;
  flex-flow: column;
}

/* Set form styles */
form {
  margin: auto;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.25rem;
}

/* Set input styles */
input {
  flex-grow: 1;
  max-width: calc(80% - 0.25rem);
}

/* Set button styles */
button {
  width: 20%;
  border: none;
  background-color: #0092ca;
  color: #fff;
  cursor: pointer;
}

/* Set chat display styles */
.chat-display {
  background-color: #f1f1f1;
  list-style-type: none;
  margin: 1rem auto;
  padding: 0;
  flex-flow: column;
  justify-content: left;
  overflow: auto;
  flex-grow: 1;
}

/* Set post styles */
.post {
  border-radius: 5px;
  background-color: #eee;
  padding: 0 0 0.25rem;
  margin: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Set post alignment styles */
.post--left {
  width: 60%;
  align-self: flex-start;
}

.post--right {
  width: 60%;
  align-self: flex-end;
}

/* Set post header styles */
.post__header {
  padding: 0.25rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Set post header user styles */
.post__header--user {
  color: #0092ca;
}

/* Set post header reply styles */
.post__header--reply {
  color: #393e46;
}

/* Set post header name styles */
.post__header--name {
  font-weight: 700;
}

/* Set post header time styles */
.post__header--time {
  font-size: 0.8rem;
}

/* Set post text styles */
.post__text {
  margin-top: 5px;
  color: #333;
  padding: 0.25rem 0.5rem;
}

/* Set styles for activity, room list, and user list */
.activity,
.room-list,
.user-list {
  width: 100%;
  min-height: 2.65rem;
  margin: 0 auto;
  max-width: 600px;
  padding: 0.75rem 0.25rem;
}

/* Set italic style for activity */
.activity {
  font-style: italic;
}
